extends ../../../layouts/main.pug

block append stylesheets
  // iCheck
  link(href='/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
  // Datatables
  link(href='/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
  link(href='/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
  link(href='/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')

block content
  .right_col
    div
      .page-title
        .title_left
          h3
            | Tags
            small  Page title
      .row
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_title
              h2
                | Add Tag
                small  Add tag form
              ul.nav.navbar-right.panel_toolbox
                li
                  a.collapse-link
                    i.fa.fa-chevron-up
              .clearfix
            .x_content
              #form
        .col-md-12.col-sm-12.col-xs-12
          .x_panel
            .x_title
              h2
                | Tags
                small  table title
              ul.nav.navbar-right.panel_toolbox
                li
                  a.collapse-link
                    i.fa.fa-chevron-up
              .clearfix
            .x_content
              #results-table

  script(type='text/template', id='tmpl-form')
    div.form-container
      form.form-inline
        .form-group
          label(for="title") Title:
          input.form-control(name='title', type='text', value!='<%= title %>')
        .form-group
          label(for="description") Description:
          input.form-control(name='description', type='text', value!='<%= description %>')
        .form-group
          button.btn.btn-primary.btn-add(type='button') #{__("Add New")}

  script(type='text/template', id='tmpl-results-table')
    table#datatable.table.table-striped.table-bordered.dt-responsive.nowrap(cellspacing='0', width='100%')
      thead
        tr
          th #{__("Title")}
          th #{__("Description")}
          th ID
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td <%- title %>
    td <%- description %>
    td <%- _id %>

  script(type='text/template', id='data-results') !{data.results}

block append javascripts
  // Datatables
  script(src='/vendors/datatables.net/js/jquery.dataTables.min.js')
  script(src='/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
  script(src='/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
  script(src='/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
  script(src='/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')

  script(src='/views/classification/tag/index.min.js')