extends ../../../layouts/auth.pug

block append stylesheets
  link(rel='stylesheet', href='/views/auth/login/index.min.css')

block append javascripts
  script(src='/views/auth/login/index.min.js')

block body
  body.login
    div
      a#signin.hiddenanchor
      .login_wrapper
        .animate.form.login_form
          section#login.login_content

  script(type='text/template', id='tmpl-login')
    form
      h1 Login Form
      div
        | <% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable.fade.in
          button.close(type='button', data-dismiss='alert') &times;
          | <%- err %>
        | <% }); %>
      div(class!='<%- errfor.email ? "has-error" : "" %>')
        input.form-control(type='text', name='email', value!='<%= email %>', placeholder="email")
        span.help-block <%- errfor.email %>
      div(class!='<%- errfor.password ? "has-error" : "" %>')
        input.form-control(type='password', name='password', value!='<%= password %>', placeholder="password")
        span.help-block <%- errfor.password %>
      div
        a.btn.btn-default.submit(type='button') #{__("Log in")}
          a.reset_pass(href='/login/forgot/') #{__("Forgot your password?")}
        .clearfix
        .separator
          .clearfix
          br
          div
            h1
              i.fa.fa-money
              |  #{projectName}
            p
              | ©2016 All Rights Reserved.
