extends ../../../layouts/main.pug

block append javascripts
  script(src='/views/settings/organisation/index.min.js')

block content
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging
      div#new-organisation-form

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1 #{__("Organisations")}
      a.btn.btn-primary.add-new Add new


  script(type='text/template', id='tmpl-new-organisation-form')
    form
      div.alerts
        | <% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | <%- err %>
        | <% }); %>
        | <% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | We have received your message. Thank you.
        | <% } %>
      | <% if (!success) { %>
      div.form-group(class!='<%- errfor.email ? "has-error" : "" %>')
        label Inn:
        input.form-control(type='text', name='inn', value!='<%= inn %>')
        span.help-block <%- errfor.inn %>
      div.form-group(class!='<%- errfor.type ? "has-error" : "" %>')
        label Type:
        input.form-control(type='text', name='type', value!='<%= type %>')
        span.help-block <%- errfor.type %>
      div.form-group(class!='<%- errfor.name ? "has-error" : "" %>')
        label Name:
        input.form-control(type='text', name='name', value!='<%= name %>')
        span.help-block <%- errfor.name %>
      div.form-group
        button.btn.btn-primary.btn-add(type='button') Add
      | <% } %>

  script(type='text/template', id='tmpl-filters')
    a(type='button', data-toggle='collapse', data-target='#filters-form', aria-expanded='false', aria-controls='filters-form')
      | #{__("Filters")}
    form.filters.collapse#filters-form
      div.row
        div.col-sm-3
          label #{__("Inn Search")}
          input.form-control(name='inn', type='text')
        div.col-sm-3
          label #{__("Type Search")}
          input.form-control(name='type', type='text')
        div.col-sm-3
          label #{__("Name Search")}
          input.form-control(name='name', type='text')
        div.col-sm-2
          label #{__("Sort By")}
          select.form-control(name='sort')
            option(value='inn') #{__("Inn")} &#9650;
            option(value='-inn') #{__("Inn")} &#9660;
            option(value='name') #{__("Name")} &#9650;
            option(value='-name') #{__("Name")} &#9660;
        div.col-sm-1
          label Limit
          select.form-control(name='limit')
            option(value='10') 10 items
            option(value='20', selected='selected') 20 items
            option(value='50') 50 items
            option(value='100') 100 items

  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th #{__("Inn")}
          th #{__("Type")}
          th #{__("Name")}
          th ID
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td <%- inn %>
    td <%- type %>
    td <%- name %>
    td.nowrap <%= _id %>

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') #{__("no documents matched")}

  script(type='text/template', id='tmpl-results-paging')
    div.well
      div.btn-group.pull-left
        button.btn.btn-default(disabled=true) #{__("Page")} <%= pages.current %> #{__("of")} <%= pages.total %>
        button.btn.btn-default(disabled=true) #{__("Rows")} <%= items.begin %> - <%= items.end %> of <%= items.total %>
      div.btn-group.pull-right
        button.btn.btn-default.btn-page.btn-prev(data-page!='<%= pages.prev %>') Prev
        button.btn.btn-default.btn-page.btn-next(data-page!='<%= pages.next %>')  Next
      div.clearfix

  script(type='text/template', id='data-results') !{data.results}