#sidebar-menu.main_menu_side.hidden-print.main_menu
  .menu_section
    h3 Menu
    ul.nav.side-menu
      li
        a
          i.fa.fa-desktop
          | #{__("Dashboard")}
      li: a(href='/journal/') #{__("Journal")}
      li: a(href='/counterparty/') #{__("Counterparties")}
      li: a(href='/employee/') #{__("Employees")}
      li: a(href='/document/') #{__("Documents")}
      li
        a
          i.fa.fa-bar-chart-o
          | #{__("Reports")}&nbsp;
          span.fa.fa-chevron-down
          ul.nav.child_menu
            li: a(href='/reports/balance-sheet/') #{__("Balance Sheet Report")}
            li: a(href='/reports/profit-loss/') #{__("Profit & Loss Report")}
            li: a(href='/reports/trial-balance/') #{__("Trial Balance Report")}
            li: a(href='/reports/ledger-statement/') #{__("Ledger Statement Report")}
            li: a(href='/reports/ledger-entries/') #{__("Ledger Entries Report")}
            li: a(href='/reports/reconciliation/') #{__("Reconciliation Report")}
      li
        a
          i.fa.fa-sitemap
          | #{__("Classification")}&nbsp;
          span.fa.fa-chevron-down
          ul.nav.child_menu
            li: a(href='/classification/tag/') #{__("Tags")}
            li: a(href='/classification/category/') #{__("Categories")}
            li: a(href='/classification/account/') #{__("Accounts")}
      li
        a
          i.fa.fa-cogs
          | #{__("Settings")}&nbsp;
          span.fa.fa-chevron-down
          ul.nav.child_menu
            li: a(href='/settings/organisation/') #{__("Organisations")}