.top_nav
  .nav_menu
    nav(role='navigation')
      .nav.toggle
        a#menu_toggle
          i.fa.fa-bars
      ul.nav.navbar-nav.navbar-right
        li
          a.user-profile.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='false')
            img(src='/media/user_profile_img.png', alt='')
            | #{user.email}
            span.fa.fa-angle-down
          ul.dropdown-menu.dropdown-usermenu.pull-right
            li
              a(href='javascript:;')  Profile
            li
              a(href='javascript:;')
                span Settings
            li: a(href='/auth/logout/')
                i.fa.fa-sign-out.pull-right
                |  #{__("Log out")}