doctype html
html
  head
    block head
      block meta
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
      block title
        title #{projectName}
      block stylesheets
      block neck
        link(rel='shortcut icon', type="image/png", sizes="16x16", href="/favicon-16x16.png")
  block body
  block javascripts