extends base.pug

block stylesheets
  link(rel='stylesheet', href='/layouts/core.min.css')
  link(rel='stylesheet', href='/layouts/theme.min.css')

block body
  body.nav-md
    .container.body
      .main_container
        .col-md-3.left_col
          .left_col.scroll-view
            .navbar.nav_title(style='border: 0;')
              a.site_title(href='/')
                i.fa.fa-money
                span  Ledger
            .clearfix
            br
            include includes/sidebar-menu.pug
        include includes/top-nav.pug
        block content
        include includes/footer.pug

block javascripts
  script(src='/layouts/core.min.js')